
:root {
    /* font-size */
    --fs-small1: 12px;
    --fs-small2: 14px;
    --fs-small3: 16px;
    --fs-small4: 18px;
    --fs-small5: 19px;
    --fs-medium1: 20px;
    --fs-medium2: 21px;
    --fs-medium3: 22px;
    --fs-medium4: 24px;
    --fs-medium5: 26px;
    --fs-large1: 28px;
    --fs-large2: 30px;
    --fs-large3: 40px;
    --fs-large4: 46px;
    --fs-large5: 56px;
    --fs-large6: 84px;
  


    /* font-family */
    --ff-1: 'Poppins', sans-serif;
    --ff-2: 'Sen', sans-serif;
    --ff-3: 'Inter', sans-serif;

  
    /* color */
 
 
}

/* size */
.fs-small1 {
    font-size: var(--fs-small1);
}
.fs-small2 {
    font-size: var(--fs-small2);
}
.fs-small3 {
    font-size: var(--fs-small3);
}
.fs-small4 {
    font-size: var(--fs-small4);
}
.fs-small5 {
    font-size: var(--fs-small5);
}



.fs-medium1 {
    font-size: var(--fs-mdedium1);
}
.fs-medium2 {
    font-size: var(--fs-mdedium2);
}
.fs-medium3 {
    font-size: var(--fs-mdedium3);
}
.fs-medium4 {
    font-size: var(--fs-mdedium4);
}
.fs-medium5 {
    font-size: var(--fs-mdedium5);
}



.fs-large1 {
    font-size: var(--fs-large1);
}
.fs-large2 {
    font-size: var(--fs-large2);
}
.fs-large3 {
    font-size: var(--fs-large3);
}
.fs-large4 {
    font-size: var(--fs-large4);
}
.fs-large5 {
    font-size: var(--fs-large5);
}
.fs-large6 {
    font-size: var(--fs-large6);
}


/* family */
.ff-1 {
    font-family: var(--ff-1);
}
.ff-2 {
    font-family: var(--ff-2);
}
.ff-3 {
    font-family: var(--ff-3);
}


/* color */
