@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Poppins:wght@400;500;600&family=Sen:wght@700&display=swap');
@import url(root.css);

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}

.container {
    max-width: 1170px !important;
}

.cross-1 {
    rotate: 45deg;
    transition: .4s;
}

.cross-2 {
    position: relative;
    transition: .4s;
    top: -80%;
    rotate: -45deg;
}

.cross-4 {
    transition: .4s;
}

.cross-5 {
    transition: .4s;
}

.cross-6 {
    transition: .4s;
}

.cross-3 {
    display: none !important;
}

.flow-hidden {
    overflow: hidden;
}

.nav-gap {
    gap: 36px;
}

.gap-72 {
    gap: 72px;
}

.nav-btn {
    padding: 19px 34px;
    border-radius: 27px;
    border: 1.4px solid #F66F4D;
    background: white;
    transition: .4s;
}

.nav-btn:hover {
    border: 1.4px solid #fff;
    background: #F66F4D;
    color: var(--cream);
    transition: .4s;

}

.nav-btn:hover svg path {
    fill: var(--cream);
    transition: .4s;

}

.nav-img {
    cursor: pointer;
}


.ul {
    padding-left: 0 !important;
}

nav ul li a {
    position: relative;
}

nav ul li ::before {
    content: '';
    position: absolute;
    background: #C2190E;
    width: 0;
    height: 1px;
    bottom: 0;
    left: 50%;
    transition: all 400ms linear;
}

nav ul li a:hover::before {
    left: 0;
    width: 100%;

}

/* main-para */
.main-para {
    max-width: 550px;
    line-height: normal;
}

.main-para-2 {
    max-width: 500px;
    line-height: 28px;
}

.pt-25 {
    padding-top: 25px;
}

.pt-sm-30 {
    padding-top: 30px;
}

.flx-change {
    flex-direction: column;
}

.main-btn {
    padding: 20px 28px 20px 28px;
    border-radius: 38px;
    background: #FDFEFF;
    box-shadow: 0px 28px 56px -6px rgba(246, 111, 77, 0.05);
}


.btn-icon {
    padding: 16px 14px 18px 14px;
    width: 54px;
    height: 54px;
    flex-shrink: 0;
    border-radius: 50%;
    background: var(--orange)
}

.btn-line {
    width: 2px;
    height: 47px;
    background: #EAEAEB;
    margin: 0;
}


/* sec-1 */
.sec-1-para-1 {
    max-width: 370px;
    line-height: normal;
}

.tourist-place {
    border-radius: 85px;
}

.prev-set-1 {
    bottom: 55%;
    right: 14%;
}

.next-set-1 {
    bottom: 55%;
    right: 9%;
}

.sec-1-card-1 {
    position: relative;
}

.visit {
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
}

.sec-1-card-1:hover .visit {
    opacity: 1;
}



/* sec-2 */
.sec-2-para-1 {
    max-width: 460px;
    line-height: normal;
}

.sec-2-para-2 {
    max-width: 460px;
    line-height: normal;
}

.sec-2-point {
    max-width: 120px;
}

.pt-100 {
    padding-top: 50px;
}

.sec-2-card {
    padding: 30px 38px;
    flex-shrink: 0;
    border-radius: 14px;
    background: rgba(255, 255, 255, 0.70);
}

.pt-sm-90 {
    padding-top: 90px;
}


.sec-2-img-card {
    width: 140px;
    height: 218px;
    flex-shrink: 0;
    border-radius: 14px;
    background: #FFF;
}

.sec-2-img-card:hover {
    box-shadow: 10px 14px 60px -3px rgba(174, 165, 115, 0.08);
}

.small-card {
    position: absolute;
    left: 0;
    top: 54%;
}

.sec-2-img-card-2 {
    width: 171px;
    height: 92px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #FFF;
}

.sec-2-img-card-2:hover {
    box-shadow: 10px 14px 60px -3px rgba(174, 165, 115, 0.08);
}

.small-card-2 {
    position: absolute;
    left: 45%;
    top: 90%;
}

body {
    background-color: var(--cream) !important;
}

/* section3 */
.section3-custom-container1 {
    max-width: 1170px !important;
}

.section3-custom-container2 {
    max-width: 1305px;
    margin-left: auto;
    margin-right: 0;
}

.section3-min-height {
    max-height: 600px;
}


.section3box {
    border-radius: 16px;
    border: 2px solid #FFF;
    background: var(--cream);
    padding: 12px 12px 36px 12px;
}

.section3box:hover {
    box-shadow: 0px 24px 90px 0px rgba(192, 188, 161, 0.22);
}

.border-radius-16 {
    border-radius: 16px;
}

.font-style-normal {
    font-style: normal;
}

.line-height-24 {
    line-height: 24px;
}

.line-height-14 {
    line-height: 14px;
}

.line-height-16 {
    line-height: 16px;
}

.line-height-20 {
    line-height: 20px;
}

.section3-button {
    width: 100px;
    height: 37px;
    border-radius: 46px;
    border: 1px solid var(--black1);
    background: none;
    color: var(--black1);
}

.section3-button:hover {
    color: white;
    background: var(--black1);
}

.section3-image {
    height: 252px;
    width: 100%;
    object-fit: fill;
}

.max-width-400 {
    max-width: 400px;
}

.prev {
    width: 54px;
    height: 54px;
    border-radius: 50%;
    border: 1.5px solid var(--black1);
    background: none;
}

.next {
    width: 54px;
    height: 54px;
    border-radius: 50%;
    border: 1.5px solid var(--black1);
    background: none;
}

.arrows {
    display: none;
    min-width: 124px;
    top: 50%;
    right: 7%;
}

.section3-prev-arrow,
.section3-next-arrow {
    stroke: var(--black1);
}

.prev:hover {
    background-color: var(--black1);
}

.prev:hover .section3-prev-arrow {
    stroke: var(--cream);
}

.next:hover {
    background-color: var(--black1);
}

.next:hover .section3-next-arrow {
    stroke: var(--cream)
}

.slick-current.slick-active {
    box-shadow: 0px 24px 90px 0px rgba(192, 188, 161, 0.22);
}

/* section4 */
.custom-container1 {
    max-width: 1170px !important;
}

.section4-button {
    padding: 10px 20px;
    border-radius: 30px;
    border: 1px solid #3D3D3D;
    color: var(--black1);
    background: none;
}

.section4-button:hover {
    background: var(--black1);
    color: white;
}

.section4-button-container {
    max-width: 535px;
}

.border-radius-20 {
    border-radius: 20px
}

.rating {
    width: 42px;
    height: 24px;
    border-radius: 12px;
}

.rating1 {
    top: 10%;
    left: 10%;
}

.rating2 {
    top: 5%;
    left: 5%;
}

.place1 {
    bottom: 10%;
    left: 10%;
}

.place2 {
    bottom: 5%;
    left: 5%;
}

.bg-black1 {
    background: var(--black1);
}

.gallery {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    column-gap: 30px;
}

.sub-gallery1 {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    column-gap: 30px;
    row-gap: 23px;
}

.sub-gallery2 {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    column-gap: 30px;
    row-gap: 23px;
}

.item-2-lg {
    display: none;
}

.item-1 {
    grid-column: 1/2;
    grid-row: 1/3;
}

.item-3 {
    grid-column: 1/2;
    grid-row: 3/7;
}

.sub-item-1 {
    grid-column: 1/2;
    grid-row: 1/2;
}

.hoverimage {
    transition: all linear 500ms;
}

.sub-item-1:hover img {
    transform: scale(1.1);
}

.sub-item-2 {
    grid-column: 1/2;
    grid-row: 2/3;
}

.sub-item-2:hover img {
    transform: scale(1.1);
}

.item-2-lg:hover img {
    transform: scale(1.1);
}

.item-2 {
    margin-top: -23px;
    grid-column: 1/2;
    grid-row: 3/4;
}

.item-2:hover img {
    transform: scale(1.1);
}

.sub-item-3 {
    grid-column: 1/2;
    grid-row: 4/5;
}

.sub-item-3:hover img {
    transform: scale(1.1);
}

.sub-item-4 {
    grid-column: 1/2;
    grid-row: 5/6;
}

.sub-item-4:hover img {
    transform: scale(1.1);
}

.sub-item-5 {
    grid-column: 1/2;
    grid-row: 6/7;
}

.sub-item-5:hover img {
    transform: scale(1.1);
}




/* sec-5 */
.uppr-line {
    width: 67px;
    height: 8px;
    flex-shrink: 0;
    border-radius: 4px;
    background: linear-gradient(160deg, #FFD482 13.35%, #FFBE82 118.92%);
    box-shadow: 0px 2px 6px 0px rgba(229, 137, 24, 0.15);
}

.sec-6-head {
    line-height: normal;
    max-width: 460px;
}

.sec-6-para-1 {
    max-width: 536px;
    line-height: normal;
}

.slide-card {
    width: 537px;
    height: 283px;
    flex-shrink: 0;
    border-radius: 14px;
    background: #FFF;
}

.p-32 {
    padding: 32px;
}

.prev-set {
    position: absolute;
    bottom: 15%;
    right: 20%;
}

.next-set {
    position: absolute;
    bottom: 15%;
    right: 16%;
}

.prev-btn {
    width: 54px;
    height: 54px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid var(--black1);
    transition: .4s;
}

.prev-btn:hover {
    background-color: var(--black1);
}

.prev-btn:hover svg path {
    stroke: var(--cream);
}

.prev-btn-1 {
    width: 54px;
    height: 54px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid var(--black1);
    transition: .4s;
}

.prev-btn-1:hover {
    background-color: var(--black1);
}

.prev-btn-1:hover svg path {
    stroke: var(--cream);
}

.next-btn {
    width: 54px;
    height: 54px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid var(--black1);
    transition: .4s;
}

.next-btn:hover {
    background-color: var(--black1);
}

.next-btn:hover svg path {
    stroke: var(--cream);
}

.next-btn-1 {
    width: 54px;
    height: 54px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid var(--black1);
    transition: .4s;
}

.next-btn-1:hover {
    background-color: var(--black1);
}

.next-btn-1:hover svg path {
    stroke: var(--cream);
}

.sec-6-card {
    max-width: 537px;
    height: 283px;
    border-radius: 14px;
    background: #FFF;
}


.slick-slide {
    margin-right: 30px;
}

/* section6 */
.section6bg {
    background-image: url(/assets/images/section6image.png);
    min-height: 358px;
    border-radius: 30px;
}

.line-height-40 {
    line-height: 40px;
}

.letter-spacing-06 {
    letter-spacing: 0.06px;
}

.line-height-26 {
    line-height: 26px;
}

.max-width-415 {
    max-width: 415px;
}

.email {
    padding: 0 12px 0 26px;
    max-width: 450px;
    height: 60px;
    border-radius: 12px;
}

.opacity-40 {
    opacity: 0.4;
}

.telegram {
    width: 40px;
    height: 40px;
    border-radius: 12px;
    background: var(--orange);
    filter: drop-shadow(0px 5px 14px rgba(247, 103, 67, 0.25));
}

.telegram:hover {
    filter: none;
}

.telegram svg {
    transform: translate(-2%, 5%);
}

.email-text {
    padding: 10px 0;
    width: 100%;
    border: none;
}




/* footer */
.ftr-para {
    max-width: 140px;
    line-height: 26px;
}

.mt-sm-20 {
    margin-top: 20px;
}

ul {
    padding-left: 0 !important;
    margin-bottom: 0 !important;
}

.ftr-hv:hover {
    color: var(--black1);
}

.social-icons {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid var(--grey4);
    transition: .4s;
}

.social-icons:hover {
    border: 1px solid var(--orange);
    transform: translateY(-20%);
    transition: .4s;
}

.social-icons svg {
    fill: var(--grey4);
}

.social-icons:hover svg {
    fill: var(--orange);
}


.btm-line {
    position: relative;
}

.btm-line::before {
    content: '';
    position: absolute;
    background: var(--black1);
    width: 0;
    height: 1px;
    bottom: 0;
    right: 0;
    transition: all .5s linear;
}

.btm-line:hover::before {
    left: 0;
    width: 100%;
}







/* nav-media */

@media (max-width:992px) {
    label[id="menuIcon"] {
        width: 30px;
        height: 24px;
        cursor: pointer;
        display: flex;
        position: absolute;
        right: 2%;
        top: 4%;
        justify-content: space-between;
        flex-direction: column;
        z-index: 5;
        align-items: center;

    }

    label[id="menuIcon"]>span {
        width: 100%;
        height: 5px;
        background: #9E3040;
    }

    .nav-flip {

        flex-direction: column !important;
        justify-content: center;
        align-items: center;
        top: 0;
        left: -100%;
        position: fixed;
        opacity: 1;
        width: 100%;
        max-width: 400px;
        height: 100%;
        background: white;
        z-index: 3;
        box-shadow: 0px 0px 19px 9px rgba(0, 0, 0, 0.10);
        transition: all 500ms linear;

    }

    .fix-lft {
        left: 0;
    }
}



@media (min-width:575.8px) {

    :root {
        /* font-size */
        --fs-medium4: 21px;
        --fs-large5: 56px;
    }

    .small-card-2 {
        position: absolute;
        left: 60%;
        top: 85%;
    }



    /* section3 */
    .section3-min-height {
        max-height: 707px;
    }

    /* section6 */
    .email {
        width: 450px;
    }




}

@media (min-width:768px) {
    .main-para {
        max-width: 550px;
        line-height: 86px;
    }

    .flx-change {
        flex-direction: row;
    }

    .sec-6-para-1 {
        line-height: 30px;
    }

    .sec-6-head {
        line-height: 66px;
    }

    .sec-1-para-1 {
        max-width: 370px;
        line-height: 26px;
    }

    .sec-2-para-2 {
        max-width: 460px;
        line-height: 26px;
    }

    .sec-2-para-1 {
        max-width: 460px;
        line-height: 66px;
    }

    .mt-sm-20 {
        margin-top: 0;
    }

    .pt-100 {
        padding-top: 100px;
    }

    .pt-sm-90 {
        padding-top: 0;
    }


    .pt-sm-30 {
        padding-top: 0;
    }

    /* section3 */
    .prev,
    .next {
        display: unset;
    }

    .line-height-66 {
        line-height: 66px;
    }

    .section3-image {
        object-fit: fill;
    }

    .section3-min-height {
        max-height: 707px;
    }

    .slick-slider-section3 .slick-list {
        padding: 0 5% 0 0 !important;
    }

    /* section4 */

    .gallery {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        row-gap: 23px;
    }

    .sub-gallery2 {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .item-1 {
        grid-column: 1/3;
        grid-row: 1/2;
    }

    .item-3 {
        grid-column: 1/3;
        grid-row: 2/4;
    }

    .sub-item-1 {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .sub-item-2 {
        grid-column: 2/3;
        grid-row: 1/2;
    }

    .item-2 {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .sub-item-3 {
        grid-column: 2/3;
        grid-row: 1/2;
    }

    .sub-item-4 {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .sub-item-5 {
        grid-column: 2/3;
        grid-row: 2/3;
    }
}



@media(min-width: 800px) {
    :root {
        /* font-size */
        --fs-medium4: 24px;
        --fs-large3: 40px;
        --fs-large5: 56px;
    }

}

@media(min-width: 992px) {

    /* section4 */
    .gallery {
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(8, 1fr);
    }

    .sub-gallery2 {
        grid-template-columns: auto;
        grid-template-rows: auto;
    }

    .item-1 {
        grid-column: 1/3;
        grid-row: 1/9;
    }

    .item-2-lg {
        display: unset;
        grid-column: 3/6;
        grid-row: 1/9;
    }

    .item-3 {
        grid-column: 6/9;
        grid-row: 1/9;
    }

    .sub-gallery1 {
        row-gap: 26px;
    }

    .sub-item-1 {
        grid-column: 1/2;
        grid-row: 1/5;
    }

    .sub-item-2 {
        grid-column: 1/2;
        grid-row: 5/9;
    }

    .sub-gallery2 {
        row-gap: 13px;
        column-gap: 30px;
    }

    .sub-item-3 {
        grid-column: 1/4;
        grid-row: 1/5;
    }

    .sub-item-4 {
        grid-column: 1/2;
        grid-row: 5/9;
    }

    .sub-item-5 {
        grid-column: 2/4;
        grid-row: 5/9;
    }

}

@media (min-width: 1200px) {

    /* section3 */
    .section3box {
        max-width: 386px;
        max-height: 440px;
    }
}